<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body style="background-color: aliceblue;">
    <h1 style="text-align: center;color: blue;">Welcome to Database App</h1>
    <hr>

    <form action="">
        <input type="text" name="" id="" placeholder="Name"> <br> <br>
        <input type="email" name="" id="" placeholder="Email"> <br> <br>
        <input type="date" name="" id="" placeholder="DOB"> <br> <br>
        <input type="number" name="" id="" placeholder="Mobile"> <br> <br>
        <textarea name="" id="" placeholder="Address">

        </textarea><br> <br>
        <input type="submit">
    </form>

</body>

</html>